<!DOCTYPE html>
  <html>
      <head>
        <link rel="stylesheet" type="text/css" href="songs.css">
          <title>Songs</title>
      </head>
    <body>

<h1>Songs</h1>

    <% for(var i = 0; i < songs.length; i++){%>
        <li><strong>Song title: <%= songs[i].title %></strong></li>
        <li>Sung by: <%= songs[i].artist %></li>
    <%} %>

    </body>
    </html>