<style>
    body {
        color: pink;
    }
</style>

<h1>Songs</h1>

    <% for(var i = 0; i < songs.length; i++){%>
        <li>Song title: <%= songs[i].title %></li>
        <li>Sung by: <%= songs[i].artist %></li>
    <%} %>